<div class="min-h-screen ">
  <div class="bg-[url('/assets/homepage-main2.webp')] bg-cover bg-center bg-local h-[300px] md:h-[350px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[300px] md:h-[350px]">
      <app-navbar></app-navbar>
      <div class="flex flex-col items-center mt-10">
        <h1 class="font-bold text-2xl sm:text-3xl text-center text-[rgb(239,239,239)] ">CONTÁCTANOS</h1>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center flex-1 my-20">
    <form (submit)="createMessage()" class="flex flex-col gap-4 p-5  sm:w-[400px] w-[250px]" action="">
      <label for="">Nombres y Apellidos</label>
      <input class="px-3 py-2 border-b-2 border-solid border-slate-800" type="text" [(ngModel)]="message.names"
        name="names">
      <label for="">Email</label>
      <input class="px-3 py-2 border-b-2 border-solid border-slate-800" type="text" [(ngModel)]="message.correo"
        name="correo">
      <label for="">Telefono</label>
      <input class="px-3 py-2 border-b-2 border-solid border-slate-800" type="text" [(ngModel)]="message.celular"
        name="celular">
      <label for="">Mensaje</label>
      <textarea class="px-3 py-2 border-b-2 border-solid border-slate-800" name="message" id="" cols="30" rows="5"
        [(ngModel)]="message.message"></textarea>
      <div class="flex flex-col items-center pt-20">
        <button type="submit" class="px-12 py-2 text-md text-white rounded-sm bg-[#489C5A]">Enviar</button>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>