<div class='min-h-screen'>
  <div
    class="bg-[url('https://static.wixstatic.com/media/86cb94_2aab507a4a174fa7914ff41583146c13~mv2_d_5472_3648_s_4_2.jpg/v1/fill/w_1347,h_540,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/86cb94_2aab507a4a174fa7914ff41583146c13~mv2_d_5472_3648_s_4_2.jpg')] bg-cover bg-center bg-local h-[300px] md:h-[350px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[300px] md:h-[350px]">
      <app-navbar></app-navbar>
      <!-- <div class="flex flex-col items-center mt-10">
        <h1 class="text-2xl font-bold text-center sm:text-3xl text-myWhite ">GALERIA</h1>
      </div> -->
    </div>
  </div>

  <div class="">

    <div class="bg-[rgba(31,27,27,0.97)] pt-24 pb-20">
      <div class="max-w-[1110px] flex flex-col justify-center gap-10 lg:gap-20 lg:mx-auto ">
        <div class="text-4xl font-semibold text-center text-myWhite">
          <p>HOTEL MIRADOR TORRE TORRE</p>
        </div>
        <div class="flex flex-col flex-wrap items-center justify-center gap-5 sm:flex-row">
          <section>
            <div
              class="bg-[url('https://img.freepik.com/fotos-premium/torre-torre-formaciones-rocosas-horizonte-huancayo-peru_261932-5870.jpg?w=996')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 lg:h-80 lg:w-52 xl:h-[500px] xl:w-[300px]">
            </div>
          </section>
          <section>
            <div style="background-position-x: -258px !important;"
              class="bg-[url('https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/232181888.jpg?k=3bd31e30c65914a8f9258f1423f036d341a0f11ea7797dc661a7674f53c35f93&o=')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 md:h-80 lg:h-[500px] lg:w-52 xl:h-[700px] xl:w-[300px]">
            </div>
          </section>

          <section>
            <div
              class="bg-[url('https://img.freepik.com/fotos-premium/formaciones-rocosas-torre-torre-huancayo-peru_261932-7813.jpg?w=2000')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 lg:h-80 lg:w-52 xl:h-[500px] xl:w-[300px]">
            </div>
          </section>
        </div>
        <div class="flex justify-center text-myWhite">
          <div class="w-[500px] text-center text-myWhite">
            <p>Brindamos servicios de hospedaje a todo huancayo, ofreciendo un
              servicio seguro y comodo para nuestros huespedes, donde podras disfrutar de nuestras
              mejores habitaciones y vistas al cerrito de la libertad y el lugar tutistico
              "Torre Torre". Somos "HOTEL MIRADOR TORRE TORRE".</p>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1110px] lg:mx-auto">

      <div class="flex flex-col items-center gap-20 pt-20 pb-40">
        <div class="text-xl text-center font-semibold border-b-2 border-[#489C5A] lg:text-3xl">
          <p>CONOCE MÁS SOBRE NOSOTROS</p>
        </div>
        <div class="flex flex-col items-center justify-center gap-14 sm:flex-row lg:gap-10">
          <section
            class="bg-[url('https://scontent.fjau1-1.fna.fbcdn.net/v/t1.6435-9/77040950_2979972025402792_8611008042311352320_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEV-N7_BMJJnbriuveXkesg15y__bs8Gq7XnL_9uzwartTTlVSK8J4oA6keq2bAIrF6rf3iPnwFzLeQl2cWoQ7F&_nc_ohc=RYYW4U_EqUQAX-gbBaE&_nc_ht=scontent.fjau1-1.fna&oh=00_AfB2uZ5tjgpnZJ1zqeCs3dtcCNTdLpK1f1jTb6Mb1iZDVQ&oe=64ADF5E6')] bg-cover bg-center bg-local h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
            <div
              class="flex justify-center hover:bg-[rgba(35,35,35,0.74)] h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px] ">
              <div class="flex items-center px-2 text-justify text-transparent lg:px-10 hover:text-myWhite">
                Contamos con habitaciones comodas y amplias. Cada habitación cuenta con un televisor,
                un closet donde podras gurdar tus prendas de vestir, wifi y netflix gratis.
              </div>
            </div>
          </section>
          <section
            class="bg-[url('https://media-cdn.tripadvisor.com/media/photo-s/19/2a/7a/5d/caption.jpg')] bg-cover bg-center bg-local h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
            <div
              class="flex justify-center hover:bg-[rgba(35,35,35,0.74)] h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
              <div class="flex items-center px-2 text-justify text-transparent lg:px-10 hover:text-myWhite">
                Contamos con habitaciones con vistas al lugar turistico Torre Torre. Son torres de tierra arcillosa
                formadas por la acción erosiva del viento y de las lluvias, también llamadas chimeneas de hadas
              </div>
            </div>
          </section>
          <section
            class="bg-[url('https://scontent.fjau1-1.fna.fbcdn.net/v/t1.6435-9/51112674_2425990674134266_1156389596209086464_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cdbe9c&_nc_eui2=AeFQKox8ZDPt2CRCji42l46B02XML0ikS4HTZcwvSKRLgbAAHcFAgBglupW4Lq9PYnWlT2TkXOJljYyP4o5FzWLg&_nc_ohc=4B3NmvaSs8QAX8uyaeJ&_nc_ht=scontent.fjau1-1.fna&oh=00_AfBJLANGeeQQkDQ6cd1WhvpTmaGGH_ZzIkzHdgQq0iQKSA&oe=64AE1937')] bg-cover bg-center bg-local h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
            <div
              class="flex justify-center hover:bg-[rgba(35,35,35,0.74)] h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
              <div class="flex items-center px-2 text-justify text-transparent lg:px-10 hover:text-myWhite">
                Ofrecemos varios tipos de habitaciones: habitaciones standar, dobles y triples.
                Cada habitación ofrece una experiencia comoda y unica a nuestros huespedes con una
                atención respetuosa y al servicio del cliente.
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>

  </div>
  <app-footer></app-footer>
</div>