<div class='min-h-screen'>
  <div class="bg-[url('/assets/about-hero.png')] bg-cover bg-center bg-local h-[400px] md:h-[450px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[400px] md:h-[450px]">
      <app-navbar></app-navbar>
      <div class="flex flex-col items-center mt-10">
        <h1 class="text-2xl font-bold text-center sm:text-3xl text-myWhite ">GALERIA</h1>
      </div>
    </div>
  </div>



  <div class="">

    <div class="bg-[rgba(31,27,27,0.97)] pt-24 pb-20">
      <div class="max-w-[1110px] flex flex-col justify-center gap-10 lg:gap-20 lg:mx-auto ">
        <div class="text-4xl font-semibold text-center text-myWhite">
          <p>HOTEL TORRE TORRE</p>
        </div>
        <div class="flex flex-col flex-wrap items-center justify-center gap-5 sm:flex-row">
          <section>
            <div
              class="bg-[url('/assets/img-gallery05.webp')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 lg:h-80 lg:w-52 xl:h-[500px] xl:w-[300px]">
            </div>
            <!-- h-[350px] w-[200px] -->
          </section>
          <section>
            <div
              class="bg-[url('/assets/img-gallery03.webp')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 md:h-80 lg:h-[500px] lg:w-52 xl:h-[700px] xl:w-[300px]">
            </div>
          </section>
          <section>
            <div
              class="bg-[url('/assets/img-gallery04.webp')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 lg:h-80 lg:w-52 xl:h-[500px] xl:w-[300px]">
            </div>
          </section>
        </div>
        <div class="flex justify-center text-myWhite">
          <div class="w-[500px] text-center text-myWhite">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos numquam debitis quia, mollitia
              ducimus amet ea voluptates reprehenderit nulla tenetur labore tempora ab omnis cum a quos officiis
              similique excepturi.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-[1110px] lg:mx-auto">

      <div class="flex flex-col items-center gap-20 pt-20 pb-40">
        <div class="text-xl text-center font-semibold border-b-2 border-[#489C5A] lg:text-3xl">
          <p>CONOCE MÁS SOBRE NOSOTROS</p>
        </div>
        <div class="flex flex-col items-center justify-center gap-10 sm:flex-row lg:gap-20">
          <section
            class="bg-[url('/assets/img-gallery01.webp')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
            <div
              class="flex justify-center hover:bg-[rgba(35,35,35,0.74)] rounded-3xl h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px] ">
              <div class="flex items-center px-2 text-transparent lg:px-10 hover:text-myWhite">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolor totam necessitatibus, deserunt porro
                pariatur omnis
              </div>
            </div>
          </section>
          <section
            class="bg-[url('/assets/img-gallery04.webp')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
            <div
              class="flex justify-center hover:bg-[rgba(35,35,35,0.74)] rounded-3xl h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
              <div class="flex items-center px-2 text-transparent lg:px-10 hover:text-myWhite">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolor totam necessitatibus, deserunt porro
                pariatur omnis
              </div>
            </div>
          </section>
          <section
            class="bg-[url('/assets/img-gallery02.webp')] bg-cover bg-center bg-local rounded-3xl h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
            <div
              class="flex justify-center hover:bg-[rgba(35,35,35,0.74)] rounded-3xl h-52 w-36 md:h-72 md:w-52 lg:h-[400px] lg:w-[250px]">
              <div class="flex items-center px-2 text-transparent lg:px-10 hover:text-myWhite">
                Ut dolor totam necessitatibus, deserunt porro pariatur omnis amet ex quis voluptatibus, quasi delectus,
                maxime et accusamus id sapiente molestias. Aperiam, natus!
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>

  </div>
  <app-footer></app-footer>
</div>