<div class="flex w-screen h-screen">

  <form (ngSubmit)="login()" #loginForm="ngForm" class="flex flex-col gap-3 m-auto mt-20 md:w-4/12">
    <h1 class="text-2xl font-bold text-center">LOGIN ADMIN</h1>
    <div>
      <label for="user" class="block mb-2 text-sm font-medium text-gray-900 ">User</label>
      <input type="text" id="user" name="user"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="John" required [(ngModel)]="admin.user">
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
      <input type="password" id="password" name="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
        placeholder="•••••••••" required [(ngModel)]="admin.password">
    </div>

    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
  </form>