<div class="grid items-center py-5 m-auto text-center text-white md:grid-cols-3 bg-zinc-900">

  <section class="flex flex-col gap-3">
    <img src="/assets/logo.jpg" alt="logo" class="w-16 m-auto rounded-md md:w-20" />
    <div class="flex gap-3 m-auto">
      <a href="#"><img src="/assets/socials/facebook.svg" alt="facebook" class="w-6" /></a>
      <a href="#"><img src="/assets/socials/twitter.svg" alt="twitter" class="w-6" /></a>
      <a href="#"><img src="/assets/socials/instagram.svg" alt="instagram" class="w-6" /></a>
      <a href="#"><img src="/assets/socials/youtube.svg" alt="youtube" class="w-6" /></a>
    </div>
  </section>

  <section>
    <p>Tel. 998 602 811</p>
    <p>mirador.torretorre.hotel@gmail.com</p>
  </section>

  <section>
    <h3 class="mb-3 text-lg">Libro de reclamaciones</h3>
    <a href="#"><img src="/assets/book.svg" alt="libro de reclamaciones" class="m-auto w-14 invert" /></a>
  </section>
</div>