<div
  class="flex flex-col lg:flex-row flex-wrap xl:flex-row justify-around m-auto text-center xl:px-5 text-[rgb(239,239,239)] bg-[rgb(45,45,45)]">

  <section
    class=" border-b-2 border-[rgb(239,239,239)]  lg:border-b-[rgb(45,45,45)] lg:border-r-2 lg:border-[rgb(239,239,239)]">

    <div class="flex flex-col gap-10 py-10 sm:flex-row sm:justify-evenly xl:gap-40">
      <div class="flex flex-col items-center justify-center gap-3 ">
        <img class="w-[60px]" src="/assets/logo.jpg" alt="">
        <h3>H. TORRE TORRE</h3>
      </div>
      <div class="gap-5 xl:text-left lg:pr-10 lg:pl-10 xl:pr-20">
        <ul>
          <li class="mb-3">
            <a href="">Nosotros</a>
          </li>
          <li class="mb-3">
            <a href="">Contactanos</a>
          </li>
          <li class="mb-3">
            <a href="">Galeria</a>
          </li>
          <li>
            <a href="
            ">Ubicacion</a>
          </li>
        </ul>
      </div>
    </div>

  </section>

  <section class="">
    <div
      class="flex flex-col flex-wrap items-center gap-10 py-10 sm:flex-row sm:justify-evenly sm:items-start lg:gap-20 xl:gap-28">
      <div class="flex flex-col gap-3 text-sm lg:pl-5">
        <section class="flex flex-row gap-5">
          <img class="w-[20px] h-[20px] invert" src="/assets/logo-telefono-movil.png" alt="telefono">
          <p>+51 998 602 811</p>
        </section>
        <section class="flex flex-row gap-5">
          <img class="w-[20px] h-[20px] invert" src="/assets/logo-email.png" alt="email">
          <p class="text-left">miradortorretorrehotel<wbr>@gmail.com</p>
        </section>
        <section class="flex flex-row gap-5">
          <img class="w-[20px] h-[20px] invert" src="/assets/logo-ubicacion.png" alt="ubicacion">
          <p class="text-left">Jr.Torre torre 202<wbr>-Huancayo</p>
        </section>
      </div>

      <div class="flex flex-col items-center gap-3">
        <p>Redes sociales</p>
        <div class="grid grid-cols-2 gap-3">
          <a class="cursor-pointer w-[20px] lg:w-[30px]" href="#"><img src="/assets/socials/facebook.svg" alt=""></a>
          <a class="cursor-pointer w-[20px] lg:w-[30px]" href="#"><img src="/assets/socials/twitter.svg" alt=""></a>
          <a class="cursor-pointer w-[20px] lg:w-[30px]" href="#"><img src="/assets/socials/instagram.svg" alt=""></a>
          <a class="cursor-pointer w-[20px] lg:w-[30px]" href="#"><img src="/assets/socials/youtube.svg" alt=""></a>
        </div>
      </div>

      <div class="flex flex-col gap-5">
        <section class="flex flex-col items-center">
          <p class="">Libro de reclamaciones</p>
          <img class="w-[50px] invert" src="/assets/libro-reclamaciones.png" alt="libro-reclamaciones">
        </section>
      </div>
    </div>
  </section>

</div>