<div class="flex flex-col m-auto text-center text-white ">

  <div class="flex flex-row justify-between px-20 bg-[#2b2b2b] py-5">
    <section class="flex flex-row gap-20 ">
      <div class="flex flex-col items-center justify-center gap-3">
        <img class="w-[60px]" src="/assets/logo.jpg" alt="">
        <h3>H. TORRE TORRE</h3>
      </div>
      <div class="gap-5 text-left">
        <ul>
          <li class="mb-3">
            <a href="">Nosotros</a>
          </li>
          <li class="mb-3">
            <a href="">Contactanos</a>
          </li>
          <li class="mb-3">
            <a href="">Galeria</a>
          </li>
          <li>
            <a href="">Ubicacion</a>
          </li>
        </ul>
      </div>
    </section>

    <section class=" flex flex-row pl-28 gap-40 border-solid border-l-2 border-[#f1f1f1]">
      <div class="flex flex-col gap-3 text-sm">
        <section class="flex flex-row gap-5">
          <img class="w-[20px] " src="/assets/logo-telefono-movil.png" alt="">
          <p>+(064 ) 600129</p>
        </section>
        <section class="flex flex-row gap-5">
          <img class="w-[20px] " src="/assets/logo-email.png" alt="">
          <p>reservas@qalidahotel.com</p>
        </section>
        <section class="flex flex-row gap-5">
          <img class="w-[20px] " src="/assets/logo-telefono.png" alt="">
          <p>974 796 772 – 997 073 555</p>
        </section>
        <section class="flex flex-row gap-5">
          <img class="w-[20px] " src="/assets/logo-ubicacion.png" alt="">
          <p>Av. de los Patriotas 623, San Miguel – LIma – Perú</p>
        </section>
      </div>

      <div class="flex flex-col gap-5">
        <section class="flex flex-col items-center gap-3">
          <h3>Libro de reclamaciones</h3>
          <img class="w-[50px]" src="/assets/libro-reclamaciones.png" alt="">
        </section>
        <section class="flex flex-col gap-3">
          <p>Redes sociales</p>
          <div class="flex flex-row justify-between gap-3">
            <img class="w-[20px]" src="/assets/socials/facebook.svg" alt="">
            <img class="w-[20px]" src="/assets/socials/twitter.svg" alt="">
            <img class="w-[20px]" src="/assets/socials/instagram.svg" alt="">
            <img class="w-[20px]" src="/assets/socials/youtube.svg" alt="">
          </div>
        </section>
      </div>
    </section>
  </div>

  <div class="bg-[#171717] py-2">
    <p class="text-sm">© Todos los derechos reservados Hotel Torre Torre | Diseñado por: Clay</p>
  </div>
</div>

<!-- <section class="flex flex-col gap-3">
    <img src="/assets/logo.jpg" alt="logo" class="w-16 m-auto rounded-md md:w-20" />
    <div class="flex gap-3 m-auto">
      <a href="#"><img src="/assets/socials/facebook.svg" alt="facebook" class="w-6" /></a>
      <a href="#"><img src="/assets/socials/twitter.svg" alt="twitter" class="w-6" /></a>
      <a href="#"><img src="/assets/socials/instagram.svg" alt="instagram" class="w-6" /></a>
      <a href="#"><img src="/assets/socials/youtube.svg" alt="youtube" class="w-6" /></a>
    </div>
  </section>

  <section>
    <p>Tel. 998 602 811</p>
    <p>mirador.torretorre.hotel@gmail.com</p>
  </section>

  <section>
    <h3 class="mb-3 text-lg">Libro de reclamaciones</h3>
    <a href="#"><img src="/assets/book.svg" alt="libro de reclamaciones" class="m-auto w-14 invert" /></a>
  </section> -->