<!-- <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
  <div
    class="container flex flex-wrap items-center justify-between mx-auto border-solid border-b-[1px] border-[#489C5A] px-10">
    <a href="/" class="flex items-center">
      <img src="/assets/logo.jpg" class="w-16 rounded-md md:w-20" alt="Logo" />
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto " id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 bg-none">
        <li class="buttons">
          <a href="/habitaciones"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded t md:bg-transparent md:p-0 md:hover:text-blue-700">HABITACIONES</a>
        </li>
        <li class="buttons">
          <a href="/about"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">SOBRE
            NOSOTROS</a>
        </li>
        <li class="buttons">
          <a href="/#"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">
            GALERIA</a>
        </li>
        <li class="buttons">
          <a href="/contacto"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">CONTÁCTANOS</a>
        </li>
        <li class="buttons">
          <a href="/#"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">RESERVAR</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="">
  <div
    class="flex flex-wrap justify-between items-stretch lg:mx-16 px-5 pt-10 border-solid border-b-[1px] border-[#489C5A]">
    <a href="/" class="flex items-center">
      <img src="/assets/logo.jpg" class="w-16 pb-2 rounded-md md:w-20" alt="Logo" />
    </a>

    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center px-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden focus:outline-none "
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6 hover:bg-[rgba(56,56,56,0.68)] rounded" aria-hidden="true" fill="currentColor"
        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd" class="focus:text-[#489C5A] text-black"></path>
      </svg>
    </button>

    <div class="flex flex-row justify-end hidden w-full md:block md:w-auto md:mt-5" id="navbar-default">
      <ul
        class="flex flex-col md:flex-row h-full gap-5 md:gap-12 w-[200px] md:w-full bg-[rgba(35,35,35,0.74)] px-4 py-4 md:px-0 md:p-0 md:bg-transparent">
        <li class="hover:border-solid hover:border-b-2 hover:border-[#489C5A] text-center">
          <div class="flex items-center h-full px-2 ">
            <a href="/habitaciones" class=" hover:text-[#489C5A] text-[rgb(239,239,239)]">
              HABITACIONES
            </a>
          </div>
        </li>
        <li class="hover:border-solid hover:border-b-2 hover:border-[#489C5A]">
          <div class="flex items-center h-full px-2">
            <a href="/about" class=" hover:text-[#489C5A] text-[rgb(239,239,239)]">
              SOBRE NOSOTROS
            </a>
          </div>
        </li>
        <li class="hover:border-solid hover:border-b-2 hover:border-[#489C5A]">
          <div class="flex items-center h-full px-2">
            <a href="/gallery" class=" hover:text-[#489C5A] text-[rgb(239,239,239)]">
              GALERIA
            </a>
          </div>
        </li>
        <li class="hover:border-solid hover:border-b-2 hover:border-[#489C5A]">
          <div class="flex items-center h-full px-2">
            <a href="/contacto" class=" hover:text-[#489C5A] text-[rgb(239,239,239)]">
              CONTÁCTANOS
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>