<nav class="bg-black">
  <div class="flex flex-wrap items-stretch justify-between px-5 pt-10 lg:mx-16">
    <a href="/" class="flex items-center">
      <img src="/assets/logo.jpg" class="w-16 pb-2 rounded-xl md:w-20" alt="Logo" />
    </a>

    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center px-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden focus:outline-none "
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6 hover:bg-[rgba(56,56,56,0.68)] rounded" aria-hidden="true" fill="currentColor"
        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd" class="focus:text-[#489C5A] text-black"></path>
      </svg>
    </button>

    <div class="flex flex-row justify-end w-full md:block md:w-auto md:mt-5" id="navbar-default">
      <ul
        class="flex flex-col md:flex-row h-full gap-5 md:gap-12 w-[200px] md:w-full bg-[rgba(35,35,35,0.74)] px-4 py-4 md:px-0 md:p-0 md:bg-transparent">
        <li>
          <div class="flex items-center h-full px-2 ">
            <a routerLink="/habitaciones" class="link">
              HABITACIONES
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center h-full px-2">
            <a routerLink="/about" class="link">
              SOBRE NOSOTROS
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center h-full px-2">
            <a routerLink="/#" class="link">
              GALERIA
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center h-full px-2">
            <a routerLink="/contacto" class="link">
              CONTÁCTANOS
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>