<div class="pb-10">
  <img class="w-full h-auto m-auto" src="/assets/about-hero.png" alt="hero" />
  <div class="grid w-10/12 gap-5 m-auto mt-5">
    <section class="flex flex-col-reverse lg:flex-row lg:gap-16 border-">
      <img class="h-auto m-auto w-fullh" src="/assets/about01.png" alt="about01" />
      <div class="flex flex-col gap-5 lg:-mt-16 lg:bg-white lg:p-5">
        <h2 class="font-bold ">SOBRE NOSOTROS</h2>
        <div>
          <p>Somos una Empresa Huancaina que brinda servicios de hotelería a instituciones de alcance regional, nacional
            e internacional así como a turistas en general.</p>
          <p>En Mirador Hotel, contamos con modernas habitaciones equipadas y finamente decoradas con un estilo elegante
            y acogedor, tratando de brindar un ambiente cálido, especial para el descanso y relajación.</p>
        </div>
      </div>
    </section>
    <section class="lg:flex lg:flex-row lg:gap-16">
      <div class="flex flex-col gap-5">
        <h2 class="relative font-bold">NUESTRA MISIÓN <span class="border__bottom"></span></h2>
        <p>Somos una Empresa Huancaina que brinda servicios de hotelería a instituciones de alcance regional, nacional e
          internacional así como a turistas en general.</p>
      </div>
      <img class="h-auto m-auto w-fullh" src="/assets/about02.png" alt="about02" />
    </section>
    <section class="flex flex-col-reverse lg:flex-row lg:gap-16">
      <img class="h-auto m-auto w-fullh" src="/assets/about03.png" alt="about03" />
      <div class="flex flex-col gap-5">
        <h2 class="relative font-bold">NUESTRA VISIÓN <span class="border__bottom"></span></h2>
        <p>Somos una Empresa Huancaina que brinda servicios de hotelería a instituciones de alcance regional, nacional e
          internacional así como a turistas en general.</p>
      </div>
    </section>
    <section class="lg:flex lg:flex-row lg:gap-16">
      <div class="flex flex-col gap-5">
        <h2 class="relative font-bold">NUESTROS VALORES <span class="border__bottom"></span></h2>
        <p>Somos una Empresa Huancaina que brinda servicios de hotelería a instituciones de alcance regional, nacional e
          internacional así como a turistas en general.</p>
      </div>
      <img class="h-auto m-auto w-fullh" src="/assets/about04.png" alt="about04" />
    </section>
  </div>
</div>