<main class='min-h-screen'>
  <div
    class="bg-[url('https://images.unsplash.com/photo-1611892440504-42a792e24d32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGFiaXRhY2klQzMlQjNuJTIwZGUlMjBob3RlbHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80')] bg-cover bg-center bg-local h-[300px] md:h-[350px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[300px] md:h-[350px]">
      <app-navbar></app-navbar>
      <!-- <div class="flex flex-col items-center mt-10">
        <h1 class="font-bold text-2xl sm:text-3xl text-center text-[rgb(239,239,239)] ">NOSOTROS</h1>
      </div> -->
    </div>
  </div>

  <div class="pb-32">
    <div class=" max-w-[1110px] grid gap-40 mt-10 mx-5 md:mt-20 md:mx-20 lg:mt-36 lg:mx-32 xl:mx-auto">
      <!-- mt-10 md:mt-20 lg:mt-36 px-5 sm:px-10 xl:px-28 -->
      <div class="flex flex-col items-center justify-between gap-20 md:flex-row">
        <div class="md:w-60 lg:w-80 lg:max-w-[400px]">
          <p
            class="text-3xl font-semibold md:text-5xl md:leading-[50px] lg:text-5xl lg:leading-[80px] xl:text-6xl xl:leading-[70px]">
            EL HOTEL TORRE TORRE HUANCAYO</p>
          <p class="max-w-sm text-base">Es una Empresa Huancaina que brinda servicios de hotelería a
            instituciones de alcance regional, nacional e internacional así como a turistas en general. Es una Empresa
            Huancaina que brinda servicios de hotelería a instituciones de alcance regional, nacional e internacional
            así como a turistas en general.
          </p>
          <div class="mt-16">
            <a class="bg-[#489C5A] hover:bg-[#0a0a0ad6] px-5 py-2 text-[rgb(249,249,249)] md:px-8 md:py-3"
              href="https://goo.gl/maps/jALLUUC18HzoZuCn9" target="_blank">NOS ENCUENTRAS</a>
          </div>
        </div>
        <div class="">
          <div
            class="bg-[url('https://scontent.fjau1-1.fna.fbcdn.net/v/t1.6435-9/55619209_2523657661034233_8911915353739624448_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cdbe9c&_nc_eui2=AeFjVr7Zq1Fd73Whhryo9U1Ag2TqWU_SmwSDZOpZT9KbBHNT4LSPEu-OIizoP8RavY693_QJFT963iHK-1-xZOZB&_nc_ohc=R6ymUbUF0dgAX-_GQt5&_nc_ht=scontent.fjau1-1.fna&oh=00_AfAX97iipDMfNWqr-HQYwfHg_Q_SK8iWQ9SAMiTetFGmJA&oe=64ADFC5C')] bg-cover bg-center bg-local rounded-[50%] w-36 h-36 sm:w-60 sm:h-60 md:w-64 md:h-64 lg:w-80 lg:h-80 xl:w-[500px] xl:h-[500px]">
            <div
              class="border-solid border-[20px] border-[rgba(112,194,103,0.28)] rounded-[50%] xl:border-[40px] w-36 h-36 sm:w-60 sm:h-60 md:w-64 md:h-64 lg:w-80 lg:h-80 xl:w-[500px] xl:h-[500px]">
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-20 ">

        <div class="flex flex-col items-center justify-between gap-10 md:flex-row">
          <div class="md:w-[400px] lg:w-[500px]">
            <p
              class="text-xl font-medium text-center border-solid border-b-4 border-[#489C5A] sm:text-2xl sm:text-left lg:text-4xl">
              NUESTRA MISIÓN</p>
            <p class="pt-5 text-base text-justify">En el Hotel Mirador Torre Torre nos dedicamos a brindar una
              experiencia única y excepcional a nuestros huéspedes, ofreciendo
              una amplia gama de servicios de alta calidad y comodidades
              excepcionales en un ambiente acogedor y confortable. Nuestro
              objetivo es superar las expectativas de nuestros huéspedes y
              garantizar que cada estancia sea inolvidable. Nos esforzamos por
              mantener un alto nivel de profesionalismo y servicio personalizado
              para satisfacer las necesidades y deseos de nuestros huéspedes.</p>
          </div>
          <div class="">
            <img loading="lazy" class="rounded-[30px] md:w-[300px] lg:w-[500px] lg:max-h-[300px]"
              src="https://scontent.fjau1-1.fna.fbcdn.net/v/t1.6435-9/41111470_2214016221998380_7672724637809115136_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cdbe9c&_nc_eui2=AeFtZhWiXhMNvjhDKVO5NYAES5bDa3K2Jc5LlsNrcrYlzvWdeoA8oRnnQ9D27TDe3HNLmjURRvv3QjxmfsvoH8C1&_nc_ohc=C_w2-r5TjAQAX9saZlh&_nc_ht=scontent.fjau1-1.fna&oh=00_AfBEIDHdQhKzXmM7Qe0X9_LpPmcYXJeDMGDMkFt4_6uiAg&oe=64AE034B"
              alt="about image">
          </div>
        </div>

        <div class="flex flex-col-reverse items-center justify-between gap-10 md:flex-row">
          <div class="">
            <img loading="lazy" class="rounded-[30px] md:w-[300px] lg:w-[500px] lg:max-h-[300px]"
              src="https://scontent.fjau1-1.fna.fbcdn.net/v/t31.18172-8/10623499_817037491696267_5849104211977883854_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHn9TXRcnJSEUJ2UOgEt7iM0AN4K5t1nmrQA3grm3WeajfJFdxjvYveXRW__uJC1GkCJvOSzlJQg-J0WwMr16_X&_nc_ohc=9Idh_ZP9JqEAX-RTYeL&_nc_ht=scontent.fjau1-1.fna&oh=00_AfD8dH849NaRLA0pukhfoMDE6FvGfuTkZX6M4IsC7PPjKg&oe=64ADFB1F"
              alt="about image">
          </div>
          <div class="md:w-[400px] lg:w-[500px]">
            <p
              class="text-xl font-medium text-center border-solid border-b-4 border-[#489C5A] sm:text-2xl sm:text-left lg:text-4xl">
              NUESTRA VISIÓN</p>
            <p class="pt-5 text-base text-justify">En el Hotel Mirador Torre Torre nos esforzamos por ser
              reconocidos como el mejor hotel en nuestra área, brindando una
              experiencia única y excepcional a nuestros huéspedes. Nos
              comprometemos a ofrecer servicios de alta calidad y comodidades
              excepcionales para garantizar que cada huésped tenga una estadía
              inolvidable en nuestro hotel.</p>
          </div>
        </div>

        <div class="flex flex-col items-center justify-between gap-10 md:flex-row">
          <div class="md:w-[400px] lg:w-[500px]">
            <p
              class="text-xl font-medium text-center border-solid border-b-4 border-[#489C5A] sm:text-2xl sm:text-left lg:text-4xl">
              NUESTROS VALORES</p>
            <p class="pt-5 text-base text-justify">Comprometidos con ofrecer una experiencia excepcional, el equipo
              de Hotel Mirador Torre Torre se esfuerza constantemente por
              garantizar la satisfacción de sus huéspedes durante su estadía en
              sus instalaciones. Los visitantes pueden disfrutar de habitaciones
              cómodas y acogedoras, así como de una amplia gama de servicios
              de calidad, que incluyen atención personalizada, servicio de
              habitaciones, desayuno incluido, entre otros.</p>
          </div>
          <div class="">
            <img loading="lazy" class=" rounded-[30px] md:w-[300px] lg:w-[500px] lg:max-h-[300px]"
              src="/assets/about03.webp" alt="about image">
          </div>
        </div>

      </div>

    </div>
  </div>
  <app-footer></app-footer>

</main>