<mat-card class="max-w-sm example-card">
  <img mat-card-image [src]="room.image_url == ''? '/assets/no-image.webp':room.image_url " [alt]="room.title" width="" height="">
  <mat-card-content>
    <mat-card-title class="capitalize">{{room.title==''?'Habitacion [nombre]':room.title}}</mat-card-title>

    <mat-list>
      <mat-list-item *ngFor="let d of room.description |description">
        <span class="capitalize">
          {{d == ''?'Descripción':d}}
        </span>
      </mat-list-item>
    </mat-list>

    <mat-card-subtitle>
      S/{{room.price}}
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>