<main class="relative flex flex-col min-h-screen">
  <div class="bg-[url('/assets/homepage-main2.webp')] bg-cover bg-center bg-local h-[400px] md:h-[450px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[400px] md:h-[450px]">
      <app-navbar></app-navbar>
      <div class="flex flex-col items-center mt-10">
        <!-- py-[110px] -->
        <h1 class="font-bold text-2xl text-center text-[rgb(239,239,239)] sm:text-3xl">RESERVA</h1>
      </div>
    </div>
  </div>
  <!-- <div class="absolute top-0 h-[20rem] w-full -z-10 bg-[#000]"></div> -->
  <section class="container flex-1 mx-auto mt-20">
    <div class="grid gap-5 md:grid-cols-2">
      <mat-card class="w-8/12 mx-auto md:w-7/12 h-min">
        <img class="mx-auto" [src]="room.image_url" [alt]="room.title">
        <p class="p-3 text-2xl text-center capitalize">{{room.title}}</p>
        <ul>
          <li *ngFor="let d of room.description | description" class="text-lg truncate ">
            - {{d}}
          </li>
        </ul>
      </mat-card>

      <form (submit)="reserve()" class="flex flex-col w-8/12 gap-10 p-4 mx-auto rounded-lg shadow-lg md:w-6/12">
        <p class="text-xl font-bold text-center">SU RESERVA:</p>

        <!-- <mat-form-field>
          <input matInput type="date" name="check_in_date" [(ngModel)]="reserveRoom.check_in_date" required
            [min]="minDate">
          <mat-label>Check-In Date</mat-label>
        </mat-form-field> -->

        <mat-form-field>
          <input matInput [matDatepickerFilter]="dateFilter" [min]="minDate" [(ngModel)]="reserveRoom.check_in_date"
            name="check_in_date" required [matDatepicker]="checkInPicker">
          <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
          <mat-datepicker #checkInPicker></mat-datepicker>
          <mat-label>Check-In Date</mat-label>
        </mat-form-field>


        <mat-form-field>
          <input matInput type="date" name="check_out_date" [(ngModel)]="reserveRoom.check_out_date" required
            [min]="minDate">
          <mat-label>Check-Out Date</mat-label>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" name="names" [(ngModel)]="reserveRoom.names" required>
          <mat-label>Names</mat-label>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" name="email" [(ngModel)]="reserveRoom.email" required>
          <mat-label>Email</mat-label>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Reserve</button>

      </form>
    </div>
  </section>
</main>