<main class="relative flex flex-col min-h-screen">
  <div class="bg-[url('/assets/homepage-main2.png')] bg-cover bg-center bg-local h-[400px] md:h-[450px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[400px] md:h-[450px]">
      <app-navbar></app-navbar>
      <div class="flex flex-col items-center mt-10">
        <!-- py-[110px] -->
        <h1 class="font-bold text-2xl text-center text-[rgb(239,239,239)] sm:text-3xl">RESERVA</h1>
      </div>
    </div>
  </div>
  <!-- <div class="absolute top-0 h-[20rem] w-full -z-10 bg-[#000]"></div> -->
  <section class="container flex-1 mx-auto mt-20">
    <div class="grid gap-5 md:grid-cols-2">
      <mat-card class="w-8/12 mx-auto md:w-7/12 h-min">
        <img class="mx-auto" [src]="room.image_url" [alt]="room.title">
        <p class="p-3 text-2xl text-center capitalize">{{room.title}}</p>
        <ul>
          <li *ngFor="let d of room.description | description" class="text-lg truncate ">
            - {{d}}
          </li>
        </ul>
      </mat-card>

      <form (submit)="reserve()" class="flex flex-col w-8/12 gap-10 p-4 mx-auto rounded-lg shadow-lg md:w-6/12">
        <p class="text-xl font-bold text-center">SU RESERVA:</p>

        <div class="flex justify-between">
          <label for="from">
            <span class="font-bold">Desde:</span>
            <input class="outline-none" type="date" [min]="minDate" name="from" [(ngModel)]="reserveRoom.from" required>
          </label>
          <label for="to">
            <span class="font-bold">Hasta:</span>
            <input class="outline-none" type="date" [min]="minDate" name="to" name="to" [(ngModel)]="reserveRoom.to"
              required>
          </label>
        </div>

        <label for="rooms">
          <p>Habitaciones:</p>
          <div class="flex items-center justify-start">
            <button type="button" class="px-4 py-1 font-bold text-gray-600 bg-gray-300 rounded-l-lg"
              (click)="decrement()">-</button>
            <input type="number" class="w-16 text-center border border-gray-300 outline-none h-7"
              [value]="reserveRoom.n_rooms" readonly name="n_rooms" [(ngModel)]="reserveRoom.n_rooms">
            <button type="button" class="px-4 py-1 font-bold text-gray-600 bg-gray-300 rounded-r-lg"
              (click)="increment()">+</button>
          </div>
        </label>
        <section>
          <p class="text-lg font-bold">Datos del huesped</p>
          <label for="names">
            <p class="font-semibold">Nombre y apellido</p>
            <input class="w-full h-8 capitalize border border-gray-400 outline-none" type="text" name="names"
              [(ngModel)]="reserveRoom.names" required="true">
          </label>
          <label for="email">
            <p class="font-semibold">Email</p>
            <input class="w-full h-8 border border-gray-400 outline-none" type="text" name="email"
              [(ngModel)]="reserveRoom.email" required>
          </label>
          <label for="">
            <p class="font-semibold">Celular</p>
            <input class="w-full h-8 border border-gray-400 outline-none" type="text" name="phone"
              [(ngModel)]="reserveRoom.phone" required>
          </label>
        </section>

        <section>
          <div class="flex justify-between">
            <p class="text-lg font-semibold">Monto</p>
            <div class="flex flex-col text-center">
              <span>S/{{room.price}}</span>
              <span>(6 horas)</span>
            </div>
          </div>
        </section>

        <button type="submit" class="px-3 py-2 mx-auto text-white rounded-lg main-color max-w-min">
          RESERVAR
        </button>
      </form>
    </div>
  </section>
</main>