<div class=' min-h-screen'>
  <div class="bg-[url('/assets/homepage-main2.png')] bg-cover bg-center bg-local h-[350px] md:h-[450px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[350px] md:h-[450px]">
      <app-navbar></app-navbar>
      <div class="mt-20 px-5 md:mt-32 sm:px-40">
        <h1 class="font-bold text-2xl sm:text-3xl text-center text-[rgb(239,239,239)]">HOTEL MIRADOR TORRE TORRE</h1>
      </div>
    </div>
  </div>

  <div class="grid sm:grid-cols-2  justify-between gap-10 mb-20 mt-10 px-10 ">
    <div class=" text-justify ">
      <h2 class="font-bold text-2xl text-center md:text-3xl lg:text-4xl">¿QUE NOS DISTINGUE?</h2><br>
      <p class="text-xl">Las personas son lo primero: El talento humano es sumamente importante para el desarrollo de nuestra misión. Un empleado contento generará un huésped contento, por eso uno de nuestros principales valores son las personas empezando por nuestros empleados Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ratione delectus assumenda reiciendis itaque non id eligendi blanditiis autem. Illum, alias repellat veritatis eveniet tempora eaque architecto labore! Similique, dignissimos?</p>
    </div>
    <div class="flex items-center ">
      <img class="" src="/assets/hotel-portada.jpg" alt="">
    </div>
  </div>

  <div class="pb-20 pt-20">
    <div class="flex flex-col items-center gap-10 px-10">
      <h2 class="text-4xl font-bold text-center">BENEFICIOS ADICIONALES</h2>
      <h3 class="sm:text-xl text-center">PARA HACER SU EXPERIENCIA AUN MAS COMPLETA OFRECEMOS LOS SIGUIENTES SERVICIOS</h3>
      <div class="grid lg:grid-cols-3 justify-center items-center gap-20 pt-20">
        <div class="flex  flex-col gap-5">
          <div class="flex flex-row justify-end items-center gap-10">
            <p>Seguridad 24H</p>
            <img class="w-[50px] sm:w-[60px]" src="/assets/logo-seguridad.png" alt="">
          </div>
          <div class="flex flex-row justify-end items-center gap-10">
            <p class="text-right">Rampa para discapacitados</p>
            <img class="w-[50px] sm:w-[60px]" src="/assets/logo-discapacitado.png" alt="">
          </div>
          <div class="flex flex-row justify-end items-center gap-10">
            <p class="text-right">Acceso gratis a internet </p>
            <img class="w-[50px] sm:w-[60px]" src="/assets/logo-wifi.png" alt="">
          </div>
          <div class="flex flex-row justify-end items-center gap-10">
            <p class="text-right">Room Services 24H</p>
            <img class="w-[50px] sm:w-[60px] " src="/assets/logo-services.png" alt="">
          </div>
        </div>
        <div class="flex items-center justify-center">
          <img class="w-[300px] h-[300px] rounded-[50%]" src="/assets/atencion-cliente-hotel.jpg" alt="">
        </div>
        <div class="flex  flex-col gap-5">
          <div class="flex flex-row justify-start items-center gap-10">
            <img class="w-[50px] sm:w-[60px]" src="/assets/logo-tarjeta.png" alt="">
            <p>Aceptamos todas las tarjetas de crédito</p>
          </div>
          <div class="flex flex-row justify-start items-center gap-10">
            <img class="w-[50px] sm:w-[60px]" src="/assets/logo-telefono.png" alt="">
            <p>Realiza llamadas</p>
          </div>
          <div class="flex flex-row justify-start items-center gap-10">
            <img class="w-[50px] sm:w-[60px]" src="/assets/logo-hotel.png" alt="">
            <p>Salas de espera</p>
          </div>
          <div class="flex flex-row justify-start items-center gap-10">
            <img class="w-[50px] sm:w-[60px]" src="/assets/logo-carro.png" alt="">
            <p>Estacionamiento interior</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-[url('/assets/baner.jpg')] bg-cover bg-center bg-local">
    <div class="mb-20 mt-20 bg-[rgba(35,35,35,0.74)]  flex flex-col items-center gap-5 py-10 px-5">
      <h2 class="text-4xl font-bold text-center text-[rgb(239,239,239)]">HOTEL TORRE TORRE</h2>
      <p class="text-center text-[rgb(239,239,239)]">Av. de los Patriotas 623, San Miguel – LIma – Perú</p>
    </div>
  </div>

  <div class="flex flex-col items-center gap-32 mb-20">
    <div class="px-5 sm:px-10 md:px-20 lg:px-40 flex flex-col items-center gap-10">
      <h2 class="text-4xl text-[#489C5A]">HABITACIONES</h2>
      <p class="text-center">Nuestras habitaciones ofrecen todas las comodidades e instalaciones para una estancia agradable y sin preocupaciones. Ofrecemos un entorno acogedor minuciosamente pensado para brindarle el mayor confort posible. Desde nuestras habitaciones podrá disfrutar de una privilegiada vista de todo el distrito de San Miguel y el puerto del Callao. Todas nuestras habitaciones están equipadas con aire acondicionado, minibar y televisión LCD y minibar con costo adicional.</p>
    </div>
    <div class="flex flex-col items-center">
      <div class="text-2xl text-[#489C5A] flex flex-col items-center gap-2 mb-20">
        <a href="">VER HABITACIONES</a>
        <hr class="w-[100px]  border-solid border-b-2 border-[#489C5A]">
      </div>
      <div>
        habitaciones
      </div>
    </div>
  </div>

  <div class=" flex flex-col gap-20  pb-32 pt-20  " >
    <h2 class="text-4xl text-center px-5">NUESTRO HOTEL CERCA DE TÍ</h2>
    <div class="flex flex-row flex-wrap justify-center lg:justify-between items-center gap-20 lg:gap-10 px-10 md:px-20">
      <div class="flex flex-col gap-10">
        <div class="flex flex-row items-center  gap-10">
          <img class="w-[30px]" src="/assets/logo-ubicacion.png" alt="">  
          <p>Jr.Torre torre 202-Huancayo</p>
        </div>
        <div class="flex flex-row items-center gap-10">
          <img class="w-[30px]" src="/assets/logo-telefono-movil.png" alt="">
          <p>+51 998 602 811</p>
        </div>
        <div class="flex flex-row items-center gap-10">
          <img class="w-[30px]" src="/assets/logo-email.png" alt="">
          <p>miradortorretorre@gmail.com</p>
        </div>
        <div class="mt-10 text-center mb-5">
          <a class="bg-[#489C5A] rounded text-[rgb(234,234,234)] px-10 py-3" href="">RESERVAR</a>
        </div>
      </div>
      <div class="w-[850px] h-[400px] col-span-2">
        <iframe class="w-full h-full" src="https://goo.gl/maps/uNkM3Uror6WWmcct6" ></iframe>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>