<div class="flex flex-col min-h-screen ">
  <app-navbar></app-navbar>
  <div class="flex flex-col items-center flex-1 ">
    <form class="flex flex-col gap-4 p-5 w-[400px]" action="">
      <label for="" class="text-md">Nombres y Apellidos</label>
      <input type="text" class="px-3 py-2 border-b-2 border-solid border-slate-800">
      <label for="" class="text-md">Correo Electronico</label>
      <input type="text" class="px-3 py-2 border-b-2 border-solid border-slate-800">
      <label for="" class="text-md">Celular</label>
      <input type="text" class="px-3 py-2 border-b-2 border-solid border-slate-800">
      <label for="" class="text-md">Mensaje</label>
      <textarea type="text" cols="30" rows="5" class="px-3 py-5 border-b-2 border-solid border-slate-800"></textarea>
      <div class="flex flex-col items-center pt-20">
        <button class="px-10 py-2 text-lg font-semibold text-white rounded-sm main-color">Enviar</button>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>