<div class="flex flex-col min-h-screen ">
  <app-navbar></app-navbar>
  <div class="container flex flex-col gap-20 mx-auto my-10">

    <section class="flex flex-col">
      <h1 class="underline">Habitaciones estándar</h1>
      <div class="grid gap-4 md:grid-cols-3">
        <app-room-card [room]="room" *ngFor="let room of estandarRooms"></app-room-card>
      </div>
    </section>

    <section class="flex flex-col">
      <h1 class="underline">Habitaciones doble</h1>
      <div class="grid gap-4 md:grid-cols-3">
        <app-room-card [room]="room" *ngFor="let room of dobleRooms"></app-room-card>
      </div>
    </section>

    <section class="flex flex-col">
      <h1 class="underline">Habitaciones triple</h1>
      <div class="grid gap-4 md:grid-cols-3">
        <app-room-card [room]="room" *ngFor="let room of tripleRooms"></app-room-card>
      </div>
    </section>

  </div>
  <app-footer></app-footer>
</div>