<div class="flex flex-col min-h-screen ">
  <app-navbar></app-navbar>
  <div class="container flex flex-col mx-auto">

    <section class="flex flex-col">
      <h1>Habitaciones estándar</h1>
      <div class="grid md:grid-cols-3">
        <app-room-card [room]="room" *ngFor="let room of estandarRooms"></app-room-card>
      </div>
    </section>

    <section class="flex flex-col">
      <h1>Habitaciones estándar</h1>
      <div class="grid md:grid-cols-3">
        <app-room-card [room]="room" *ngFor="let room of dobleRooms"></app-room-card>
      </div>
    </section>

    <section class="flex flex-col">
      <h1>Habitaciones estándar</h1>
      <div class="grid md:grid-cols-3">
        <app-room-card [room]="room" *ngFor="let room of tripleRooms"></app-room-card>
      </div>
    </section>

  </div>
  <app-footer></app-footer>
</div>