/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #589827;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.main-color {
  background-color: var(--primary);
}

.border__bottom {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 150px;
  height: 8px;
  background-color: #9ADE9C;
}

html,
body {
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}