/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #589827;
}


.main-color {
  background-color: var(--primary);
}

.border__bottom {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 150px;
  height: 8px;
  background-color: #9ADE9C;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}