<div class="flex flex-col min-h-screen">
  <mat-tab-group class="flex-1">
    <mat-tab label="Habilitadas">
      <div class="grid w-11/12 grid-cols-4 m-auto gap-x-5 gap-y-10">
        <ng-container *ngFor="let room of enabledRooms">
          <mat-card>
            <img [src]="room.image_url" alt="Imagen habitación" class="object-cover w-full max-h-40">
            <div class="flex justify-between">
              <mat-card-title class="capitalize truncate">{{ room.title }}</mat-card-title>
            </div>
            <mat-card-actions>
              <a [routerLink]="['/admin/edit/',room.id]"
                class="block px-4 py-2 text-center text-white bg-blue-500">Editar</a>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </mat-tab>

    <mat-tab label="Deshabilitadas">
      <div class="grid w-11/12 grid-cols-4 m-auto gap-x-5 gap-y-10">
        <ng-container *ngFor="let room of disabledRooms">
          <mat-card>
            <img [src]="room.image_url" alt="Imagen habitación" class="object-cover w-full max-h-40">
            <div class="flex justify-between">
              <mat-card-title class="capitalize">{{ room.title }}</mat-card-title>
              <mat-card-subtitle>S/{{ room.price }}</mat-card-subtitle>
            </div>
            <mat-card-actions>
              <a [routerLink]="['/admin/edit/',room.id]"
                class="block px-4 py-2 text-center text-white bg-blue-500">Editar</a>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- <mat-paginator [length]="paginationInfo.totalItems" [pageSize]="paginationInfo.itemsPerPage"
    [pageSizeOptions]="pageSizeOptions" [pageIndex]="paginationInfo.currentPage - 1"
    (page)="loadRoomsWithPagination($event.pageIndex + 1, $event.pageSize)">
  </mat-paginator> -->
</div>