<div class="flex flex-col min-h-screen ">
  <div class="bg-[url('/assets/about-hero.png')] bg-cover bg-center bg-local h-[400px] md:h-[450px]">
    <div class="bg-[rgba(35,35,35,0.74)] h-[400px] md:h-[450px]">
      <app-navbar></app-navbar>
      <div class="flex flex-col items-center mt-10">
        <h1 class="font-bold text-2xl sm:text-3xl text-center text-[rgb(239,239,239)] ">HABITACIONES</h1>
      </div>
    </div>
  </div>
  <div class="container flex flex-col gap-20 mx-auto my-10">

    <section class="flex flex-col">
      <h1 class="underline">Habitaciones estándar</h1>
      <div class="grid gap-4 md:grid-cols-3" *ngIf="estandarRooms.length>0; else emptyRooms">
        <app-roomcard *ngFor="let room of estandarRooms" [room]="room"></app-roomcard>
      </div>
      <ng-template #emptyRooms>
        <app-cardskeleton></app-cardskeleton>
      </ng-template>
    </section>

    <section class="flex flex-col">
      <h1 class="underline">Habitaciones doble</h1>
      <div class="grid gap-4 md:grid-cols-3" *ngIf="estandarRooms.length>0; else emptyRooms">
        <app-roomcard [room]="room" *ngFor="let room of dobleRooms"></app-roomcard>
      </div>
      <ng-template #emptyRooms>
        <app-cardskeleton></app-cardskeleton>
      </ng-template>
    </section>

    <section class="flex flex-col">
      <h1 class="underline">Habitaciones triple</h1>
      <div class="grid gap-4 md:grid-cols-3" *ngIf="estandarRooms.length>0; else emptyRooms">
        <app-roomcard [room]="room" *ngFor="let room of tripleRooms"></app-roomcard>
      </div>
      <ng-template #emptyRooms>
        <app-cardskeleton></app-cardskeleton>
      </ng-template>
    </section>

  </div>
  <app-footer></app-footer>
</div>